<div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <img style="width: 50%; height: 155px; margin-left: 25%; margin-bottom: 15px" src="../../assets/imgs/avatar.png" alt="">
            <h4 class="text-center">Welcome to Task Tracker</h4>
            <br>  
            <button (click)="login()" class="btn btn-primary btn-block text-uppercase" type="submit">Proceed</button>
          </div>
        </div>
      </div>
    </div>
  </div>